
body{
    padding-top:80px;
    background-color:lightgrey;
}

form{
    width:200px;
    height:55px;
    display:flex;
    width:100%;
    background-color:white;
    border-radius:25px;
}

form input{
    flex:1;
    border:none;
    outline:none;
}

.filter{
    border:none;
    outline:none;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    height:55px;
    width:100px;
}

.sbutton{
    height:1.875rem;
    border:1px solid black;
    margin:5px;
}

.bi-search{
    align-self:center;
    padding-left:10px;
    padding-right:10px;
}

.menu-div{
    box-shadow:0 3px 10px rgba(0,0,0,0.15);
}

.specialRound{
    border-radius:25px;
}

.menuimage{
    max-width:100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menuimagediv{
    width:50px;
    height: 150px;

}

.pricetag{
    color:#b3161d;
    font-size: 24px;
    font-weight: 700;
}

.nametag{
    font-size: 24px;
    font-weight: 400;
}

.hide{
    display:none;
}

